In [1]:
import pandas as pd

train_df = pd.read_csv('../Dataset/english_train.csv')
print(train_df.shape[0])
train_df.head()

27843

,Id,Heading,Summary,Article,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,english_2023_train_0,"Barbie Review: Greta Gerwig, Margot Robbie, Ry...",Barbie Movie Review: Ryan Gosling shines the b...,Barbie Movie Review: One mention of Barbie and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,english_2023_train_1,Gadar 2: Sunny Deol-Ameesha Patel Starrer's Tr...,A source close to the film told News18 exclusi...,"The highly anticipated Gadar 2, starring Sunny...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,english_2023_train_2,Kartik Aaryan Ditches First Class To Fly In Ec...,Kartik Aaryan was spotted flying in economy cl...,"Kartik Aaryan, who is gearing up for the relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,english_2023_train_3,"India's Anju, Now Fatima, Receives Land, Money...",Abbasi had said that it was important to make ...,"Indian woman, Anju who travelled to Pakistan t...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,english_2023_train_4,Himachal Pradesh Hotels Offer 50% Discount As ...,Flash floods and landslides caused by heavy do...,"Himachal Pradesh, one of the worst hit states ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
test_df = pd.read_csv ('../Dataset/EnglishNews_test.csv')
print(test_df.shape[0])
test_df.head()

2895

,id,Article,Heading
0,EnglishNews_test_0,Chief Minister Mamata Banerjee-led West Bengal...,"After Durga Puja, West Bengal Govt Eyes UNESCO..."
1,EnglishNews_test_1,If you are a Xiaomi Mi A3 user whose unit has ...,Is Your Xiaomi Mi A3 Bricked Because of The Fa...
2,EnglishNews_test_2,Har Ghar Tiranga is Prime Minister Narendra M...,Har Ghar Tiranga Movement: Right Time for Indi...
3,EnglishNews_test_3,VidaHero MotoCorp is gearing up to expand its ...,Hero MotoCorp Plans to Expand its Electric Two...
4,EnglishNews_test_4,The Delhi High Court has permitted St Stephen'...,Delhi HC Permits St Stephen's College to Hold ...

In [3]:
train_df = train_df[['Id', 'Heading', 'Summary', 'Article']]
print(train_df.shape[0])
train_df.head()

27843

,Id,Heading,Summary,Article
0,english_2023_train_0,"Barbie Review: Greta Gerwig, Margot Robbie, Ry...",Barbie Movie Review: Ryan Gosling shines the b...,Barbie Movie Review: One mention of Barbie and...
1,english_2023_train_1,Gadar 2: Sunny Deol-Ameesha Patel Starrer's Tr...,A source close to the film told News18 exclusi...,"The highly anticipated Gadar 2, starring Sunny..."
2,english_2023_train_2,Kartik Aaryan Ditches First Class To Fly In Ec...,Kartik Aaryan was spotted flying in economy cl...,"Kartik Aaryan, who is gearing up for the relea..."
3,english_2023_train_3,"India's Anju, Now Fatima, Receives Land, Money...",Abbasi had said that it was important to make ...,"Indian woman, Anju who travelled to Pakistan t..."
4,english_2023_train_4,Himachal Pradesh Hotels Offer 50% Discount As ...,Flash floods and landslides caused by heavy do...,"Himachal Pradesh, one of the worst hit states ..."